/* MAIN */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.container {
    min-width: 330px;
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
}

nav {
    position: fixed;
    z-index: 100;
    height: 70px;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #099763;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style: none;
    color: #099763;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li { 
    font-size: 24px;
    margin-right: 25px;
    margin-left: 25px;
}

.nav-link {
    text-decoration: none;
    color: #099763;
    text-transform: uppercase;
    font-weight: 300;
    transition: all .2s ease-in;
}

.nav-link:hover {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-weight: 300;
    transition: all .2s ease-in;
}

nav img {
    height: 60px;
    width: 60px;
    display: block;
    margin: 0 auto;
}

section h2 {
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
    padding-bottom: 40px;
}

p {
    text-align: justify;
    font-weight: 300;
    font-size: 110%;
    padding-top: 10px;
    display: inline-block;
}

/* HEADER */

header {
    padding-top: 70px;
    background-color: #099763;
    width: 100%;
    padding-bottom: 70px;
}

header h2 {
    font-size: 38px;
    text-align: center;
    font-weight: 300;
}

header h2.title {
    font-family: 'Josefin Sans', sans-serif !important;
    font-weight: 400;
    font-size: 2em;
    margin: 10px 0;
}

header img {
    height: 150px;
    width: 150px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.p-block {
    margin: 0 auto;
    text-align: center;
}

.social-media {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    max-width: 400px;
}

i {
    color: #fff;
    font-size: 48px;
    transition: all .2s ease-in;
}

.social-media i:hover {
    color: #000;
    font-size: 48px;
    transition: all .2s ease-in;
}

/* header p {
    text-align: justify;
    font-weight: 300;
    font-size: 110%;
    padding-top: 10px;
    display: inline-block;
} */

/* SECTION - MI EXPERIENCIA */

.section-experiencia {
    height: 1000px;
    background-color: #fff;
    color: #000;
    padding-top: 70px;
    width: 100%;
    /* background-image: url(./../img/line.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 300px; */
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #D7D7D7;
    border-radius: 15px;
    padding: 5px 0;
    -webkit-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.35);
    height: 230px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 3;
}

.card img {
    width: 150px;
    height: auto;
    margin: 0 auto;
}

.card h4 {
    font-size: 22px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
}

.card h5 {
    font-size: 20px;
    text-align: center;
}

.card span {
    font-size: 16px;
    color: #717171;
    text-align: center;
}

.conector-line {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -60px;
    margin-bottom: -60px;
    z-index: 1;
    position: relative;
}

/* SECTION - CONTACTO */

.section-contacto {
    height: auto;
    background-color: #099763;
    color: #fff;
    padding-top: 70px;
    width: 100%;
}

.section-contacto i {
    display: block;
    text-align: center;
}

.section-contacto p {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mail-link {
    color: #CBFFEC;
    padding: 5px 20px;
    border: 1px solid #CBFFEC;
    border-radius: 10px;
    text-decoration: none;
    font-size: 120%;
    text-align: center;
    display: block;
    width: 320px;
    margin: 0 auto;
    transition: all .2s ease-in;
}

.mail-link:hover {
    color: #099763;
    border: 1px solid #099763;
    background-color: #CBFFEC;
    transition: all .2s ease-in;
}

.section-contacto .social-media {
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    max-width: 400px;
}

.section-contacto i {
    color: #fff;
    font-size: 48px;
    transition: all .2s ease-in;
}

.section-contacto .social-icon a {
    text-decoration: none;
}

.section-contacto .social-media i:hover {
    color: #000;
    font-size: 48px;
    transition: all .2s ease-in;
}

/* FOOTER */

footer {
    background-color: #57756A;
    height: 50px;
    width: 100%;
}

footer p {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
}

/* MEDIA QUERIES */

/* WIDTH FROM 992px and SMALLER */
@media only screen and (max-width: 992px) {
    .nav-link {
        display: none;
    }

}