*,
*:after,
*:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1D1E18;
    color: #81FFC2;
    font-weight: 300;
    font-family: 'Quicksand', serif;
}

main {
    height: 100vh;
}

.logo-img {
    height: 400px;
    width: 400px;
}

.man-work-img {
    height: 300px;
    width: 300px;
}

.title-construction {
    font-weight: 400;
    font-size: 3rem;
}

.title-contact {
    font-weight: 300;
    font-size: 1.3rem;
    display: block;
}

.title-contact-lg {
    font-weight: 300;
    font-size: 1.6rem;
}

.contact-box {
    border: 1px solid #81FFC2;
    padding: 10px 15px;
}

.contact-box-social {
    border: 1px solid #81FFC2;
    border-top: none;
    padding: 28px;
}

.contact-social i {
    font-size: 32px;
}

.contact-social a {
    color: #81FFC2;
    text-decoration: none;
}

.contact-social a:hover {
    color: #558564;
    text-decoration: none;
}


/* ------------------------ */
/* ----- MEDIA QUERY ----- */
/* ------------------------ */

/* On screens that are 576px or less */
@media screen and (max-width: 576px) {
    .logo-img {
        width: 200px;
        height: 200px;
    }

    .title-construction {
        font-weight: 400;
        font-size: 1.6rem;
    }

    .man-work-img {
        height: 100px;
        width: 100px;
    }

    .title-contact-lg {
        display: none;
    }
}

/* On screens that are greater than 577px and less than 992px */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .logo-img {
        width: 300px;
        height: 300px;
    }

    .title-construction {
        font-weight: 400;
        font-size: 2.2rem;
    }

    .man-work-img {
        height: 200px;
        width: 200px;
    }

    .title-contact-lg {
        display: none;
    }
  }

  /* On screens that are 993px or greater */
@media screen and (min-width: 993px) {
    .title-contact {
        display: none;
    }

    .contact-box {
        border: none;
        padding: 5px 10px;
    }
    
    .contact-box-social {
        border: none;
        padding: 28px;
    }

    .contact-social i {
        font-size: 40px;
    }
}